@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;800&family=Work+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #05101c;
  color: rgba(219, 211, 215, 0.8);
  font-family: 'Roboto Slab', serif;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  body {
    font-size: 12px;
  }
}
